<nav _ngcontent-qkt-c28="" id="header" class="bg-white fixed w-full z-10 top-0 shadow">
    <div _ngcontent-qkt-c28="" class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">
        <div _ngcontent-qkt-c28="" class="md:order-2 lg:w-1/2 pr-0 w-full">
            <div _ngcontent-qkt-c28="" class="flex relative inline-block float-right">
                <div _ngcontent-qkt-c28="" class="relative text-sm"><button _ngcontent-qkt-c28=""
                        class="flex items-center focus:outline-none mr-3"><img _ngcontent-qkt-c28=""
                            src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940"
                            alt="Profile image" class="inline object-cover w-8 h-8 mr-2 rounded-full"><span
                            _ngcontent-qkt-c28="" class="inline-block">Hi, Luís </span><svg _ngcontent-qkt-c28=""
                            version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                            xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"
                            class="pl-2 h-2">
                            <g _ngcontent-qkt-c28="">
                                <path _ngcontent-qkt-c28=""
                                    d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z">
                                </path>
                            </g>
                        </svg></button>
                    <!--bindings={
    "ng-reflect-ng-if": "false"
  }-->
                </div>
                <div _ngcontent-qkt-c28="" class="flex relative inline-block float-right cursor-pointer order-0 mr-4">

                </div>
                <div _ngcontent-qkt-c28="" class="block lg:hidden pr-4"><button _ngcontent-qkt-c28=""
                        class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none"><svg
                            _ngcontent-qkt-c28="" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                            class="fill-current h-3 w-3">
                            <title _ngcontent-qkt-c28="">Menu</title>
                            <path _ngcontent-qkt-c28="" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                        </svg></button></div>
            </div>
        </div>
        <div _ngcontent-qkt-c28=""
            class="md:order-1 w-1/2 pl-2 md:pl-0 w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20">
            <ul _ngcontent-qkt-c28="" class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                <li _ngcontent-qkt-c28="" class="mr-6 my-2 md:my-0 ng-star-inserted"><a _ngcontent-qkt-c28=""
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500 text-pink-600"
                        ng-reflect-router-link="/home" href="/home">
                        <span _ngcontent-qkt-c28="" class="pb-1 md:pb-0 text-sm"> Home </span>
                    </a></li>
                <li _ngcontent-qkt-c28="" class="mr-6 my-2 md:my-0 ng-star-inserted"><a _ngcontent-qkt-c28=""
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500"
                        ng-reflect-router-link="/evaluation" href="/evaluation">
                        <span _ngcontent-qkt-c28="" class="pb-1 md:pb-0 text-sm"> Evaluation </span>
                    </a></li>
                <li _ngcontent-qkt-c28="" class="mr-6 my-2 md:my-0 ng-star-inserted"><a _ngcontent-qkt-c28=""
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500"
                        ng-reflect-router-link="/coming-soon" href="/coming-soon">
                        <span _ngcontent-qkt-c28="" class="pb-1 md:pb-0 text-sm"> PDP </span>
                    </a></li>
                <li _ngcontent-qkt-c28="" class="mr-6 my-2 md:my-0 ng-star-inserted"><a _ngcontent-qkt-c28=""
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500"
                        ng-reflect-router-link="/coming-soon" href="/coming-soon">
                        <span _ngcontent-qkt-c28="" class="pb-1 md:pb-0 text-sm"> Fellings </span>
                    </a></li>
                <li _ngcontent-qkt-c28="" class="mr-6 my-2 md:my-0 ng-star-inserted"><a _ngcontent-qkt-c28=""
                        class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-900 border-b-2 border-white hover:border-pink-500"
                        ng-reflect-router-link="/coming-soon" href="/coming-soon">
                        <span _ngcontent-qkt-c28="" class="pb-1 md:pb-0 text-sm"> 1:1 </span>
                    </a></li>
                <!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }-->
            </ul>
        </div>
    </div>
</nav>

<button (click)="showToast()" class="mt-24">Show Toaster</button>